<h1 class="text-center">
  About me
</h1>
<div class="row padding">
  <div class="col-md-6">
    <img class="picture-size" src='assets/portfolio.jpg'>
  </div>
  <div class="col-md-6 padding">
    <p>
      My name is Lasse Schultebraucks.
      I am 18 years old, have successfully completed school in 2016 and now are studying computer science since October 2016. Since March 2017 I working beside university at BROCKHAUS AG.
      In my spare time I program a lot with Android. I have already written and published my own app. In the next few years, my goals are, besides a successful study program, to program further apps and to constantly improve the quality of my work. In order to achieve this, I always make new demands on myself and try to improve my work.
      In addition to programming apps, I also write a blog. I regularly write about various software development topics.
    </p>
  </div>
</div>
<div class="row padding">
  <div class="col-md-6">
    <h2>Resume</h2>
    <ul>
      <li>School graduation in July 2016</li>
      <li>Beginning studying Computer Science at the TU Dortmund in October 2016</li>
      <li>Published a Android App on Google PlayStore</li>
      <li>Working since March 2017 at BROCKHAUS AG</li>
      <li>Coded and developed a own homepage/blog, this one here</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>My app</h2>
    <ul>
      <li><a href="https://play.google.com/store/apps/details?id=com.bitdevelop.lasse.weeklyplanner">Food Planner (dt. "Essensplaner")</a></li>
    </ul>
  </div>
</div>
