<div class="preview-container">
<h1><strong>{{blogPost.title}}</strong></h1>
  <div class="row">
    <div class="col-sm-3">
      <em>{{blogPost.parseDate(blogPost.date)}}</em>
    </div>
    <div *ngFor="let tag of blogPost.tags">
      <em class="tag">{{tag}}&nbsp;&nbsp;</em>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p>{{blogPost.intro}}</p>
    </div>
    <div>
      <img class="cursor-pointer" src={{blogPost.image}} (click)="onClickReadMore()"/>
    </div>
  </div>
  <button class="btn btn-custom" (click)="onClickReadMore()">Read more</button>
</div>
