.container {
  align-content: center;
  margin: 0 auto;
  padding: 20px 50px 50px 50px;
  max-width: 1050px;
  min-height: 900px;
}

@media (max-width: 1201px) {
  .container {
    margin: 10px;
    width: 100%;
  }
}
