/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

div, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'proxima-nova', 'Consolas', sans-serif;
}

h1 {
  color: #000;
  font-size: 200%
}

h2 {
  color: #000;
  font-size: 180%;
}

h3 {
  color: #000;
}

p {
  font-size: 120%;
}

.btn-custom {
  border-width: 1px;
  -webkit-box-shadow: inset 0px 0px 0px 1px #1b2437;
  -moz-box-shadow: inset 0px 0px 0px 1px #1b2437;
  box-shadow: inset 0px 0px 0px 1px #1b2437;
  background: transparent;
  color: #1b2437;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0;
}

.btn-custom:hover {
  background-color: #1b2437;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}


